USE [master]
GO
/****** Object:  Database [FeedBackSystem]    Script Date: 3/24/20 9:23:08 AM ******/
CREATE DATABASE [FeedBackSystem]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'FeedBackSystem', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\FeedBackSystem.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'FeedBackSystem_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\FeedBackSystem_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [FeedBackSystem].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [FeedBackSystem]
GO
/****** Object:  Table [dbo].[Admin_tbl]    Script Date: 3/24/20 9:23:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Admin_tbl](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[AdminName] [varchar](20) NULL,
	[Password] [varchar](20) NULL,
 CONSTRAINT [PK_Admin_tbl] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Feedback_tbl]    Script Date: 3/24/20 9:23:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Feedback_tbl](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FeedBack] [varchar](100) NULL,
	[QuestionID] [int] NULL,
	[UserID] [nvarchar](50) NULL,
 CONSTRAINT [PK_Feedback_tbl] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Question_tbl]    Script Date: 3/24/20 9:23:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Question_tbl](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Question] [varchar](100) NULL,
 CONSTRAINT [PK_Question_tbl] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
